<style>
  #root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
</style>

<div id="root">
  <h2>Our <%= platform %> application is coming soon! We'll keep you posted when it goes live!</h2>
</div>
